<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <style>
        body {
            background-image: url(https://img.freepik.com/foto-gratis/fondo_53876-32169.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

        .table-container {
            background-color: #5499C7;
            padding: 20px;
            border: 3px solid black;
        }
    </style>
    <title>Agregar Facturas</title>
</head>
<body>
<br>
<div class="jumbotron text-center">
    <img src="https://media.tenor.com/L93h5jlGp3EAAAAS/homero-simpson-homer-simpson.gif">
</div>
<br>
<div class="container">
    <div align="center" class="table-container">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <h1>Agregar Facturas</h1>
        <form method="POST">
            <table>
                {{formulario}}
            </table>
            <br>
            <input class="btn btn-success" type="submit" value="Grabar">
            <a class="btn btn-info" href="{%url 'inicio'%}">Regresar</a>
            {% csrf_token %}
        </form>
    </div>
</div>
</body>
</html>